<h2 mat-dialog-title>Config</h2>
<mat-dialog-content class="container">
  <form [formGroup]="configForm">
    <mat-form-field>
      <mat-label>Default Password:</mat-label>
      <input matInput placeholder="Password" formControlName="pwd" required />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Browser to use:</mat-label>
      <mat-select formControlName="browser">
        <mat-option *ngFor="let bro of supportedBrowsers" [value]="bro">{{bro}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox matTooltip="Feature allowing auto-login through a middleware" formControlName="useMiddleware">Autologin (Experimental)</mat-checkbox>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [mat-dialog-close]="null">Cancel</button>
  <button mat-button [mat-dialog-close]="configForm.value" type="submit" [disabled]="!configForm.valid"
    cdkFocusInitial>Submit</button>

</mat-dialog-actions>
