
tr.example-detail-row {
  height: 0;
}

.th-right{
  text-align: right;
}

.mat-column-name {
  flex: 0 0 40% !important;
  width: 40% !important;
}

.fx-spacer {
  flex: 1 1 auto;
}

.separator {
  margin: 25px;
}

.scrollable {
  width: 100%;
  height: calc(100vh - 250px);
  overflow: auto;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

/* Table header row */
// mat-header-row {
//   position: sticky;
//   top: -.5px;
//   background: white;
//   z-index: 100;
// }

tr.mat-footer-row {
  font-weight: bold;
}

.example-element-detail {
  overflow: hidden;
  display: block;
  width: auto;
}

.dragging {
  cursor:grab;
}
